In [4]:
import pandas as pd
import numpy as np

In [73]:
df_sweet = pd.read_csv(
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vSiAzsjRqvLWoFSpOuRlz2xtDef2yAN77AGsvmAgCWRtpF8NVr71sNTdNazri4o1FAmF7QA540PNveb/pub?gid=1090863632&single=true&output=csv",
    index_col=0,
)
df_oily = pd.read_csv(
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vSiAzsjRqvLWoFSpOuRlz2xtDef2yAN77AGsvmAgCWRtpF8NVr71sNTdNazri4o1FAmF7QA540PNveb/pub?gid=1369311762&single=true&output=csv",
    index_col=0,
)
df_hot = pd.read_csv(
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vSiAzsjRqvLWoFSpOuRlz2xtDef2yAN77AGsvmAgCWRtpF8NVr71sNTdNazri4o1FAmF7QA540PNveb/pub?gid=0&single=true&output=csv",
    index_col=0,
)

In [94]:
df_sweet.head(3)

        u0   u1   u2
menu
계란밥    0.2  0.1  0.2
그릭요거트  0.1  0.1  0.3
김치찌개   0.2  0.2  0.1

In [104]:
def check_range(df):
    df_mask = df.isna()
    df_hot_filled = df.mask(df_mask,0.5)
    gte0 = df_hot_filled >= 0
    lte1 = df_hot_filled <= 1

    return gte0.all(axis = None) and lte1.all(axis=None) # .all() - 모든 것이 참인가?

def check_no_na(df):
    #return df.isnull().sum().sum() == 0
    return not df.isna().any(axis = None) # .any() - 한 개라도 참이 있는가?

def check_foodnames(dfs):
    sets = [set(df.index) for df in dfs]
    return set.intersection(*sets) == set.union(*sets)

In [75]:
check_range(df_sweet), check_range(df_oily), check_range(df_hot)

(True, True, False)

In [88]:
check_no_na(df_sweet), check_no_na(df_oily), check_no_na(df_hot)

(False, False, False)

In [93]:
check_foodnames([df_hot, df_oily, df_sweet])

False

In [118]:
import math
check_no_na(pd.DataFrame([[0,2],[math.nan,1]])), check_no_na(pd.DataFrame([[0,2],[2,1]]))

(False, True)

In [121]:
def min_max_scale(df):
    df_min = df.min()
    df_max = df.max()
    extent = df_max - df_min
    return ((df-df_min)/extent).loc[:,extent > 0]

min_max_scale(pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]]))

     0    1    2
0  0.0  0.0  0.0
1  0.5  0.5  0.5
2  1.0  1.0  1.0

In [128]:
hot = min_max_scale(df_hot).mean(axis=1)
oily = min_max_scale(df_oily).mean(axis=1)
sweet = min_max_scale(df_sweet).mean(axis=1)

In [133]:
df = pd.\
    concat([hot,oily,sweet],axis=1,keys=['hot','oily','sweet']).\
    dropna()